@import url(common.css);
@import url(pretendard.css);
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#txt1{
  position:fixed;top:70px;right:10px;color: transparent;}

html{scroll-behavior: smooth;}
body{
  background-color: #f1ebf5;
  color: #121212;
  font-family: 'Pretendard', sans-serif;
}
section h2{
  font-size: 6vh;
}


/* Scroll Bar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #e0c4e0;
}
::-webkit-scrollbar-button {
  display: none;
}

/* nav */
header{
  position: fixed;
  width: 100%;
  height: 7vh;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  transition: color 0.3s ease;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
}
header.show{opacity: 1;}
header ul{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4vh;
}
header ul li{list-style-type: none;}
header ul li a {
  text-decoration: none;
  padding: 10px;
  color: #121212;
  transition: color 0.3s ease;
}
header ul li a.active {
  color: #963db1;
}

header ul li a:hover {
  color: #f31243;
}

/*///////////// TOP버튼*/

.top_btn{
	position:fixed;
  z-index:9999;
  bottom:20px;
  right:10px;
  width:35px;
  height:35px;
  border-radius:50%;   
  background:#eae1ba;
  text-align:center;
}
.top_btn>a>i{  /*ICON FONT 설정*/
  line-height:35px;
  color:#262626;
  font-size:28px;
}

/*----- 01. cover -----*/
.cover_contents{
  background: url(../image/cover.png)no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.cover_title{
  padding: 0 70px 0;
  height: 50vh;
}
.cover_title p{
  padding-top: 50px;
  font-size: 15vh;
  font-weight: 600;
}

.cover_center{
  height: 50vh;
  display: flex;
  font-size: 2vh;
  padding-left: 70px;
}
.cover_left{
  width: 40%;
  padding: 10px 0 50px;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover_left p{
  font-size: 2vh;
}
.cover_right {
  position: absolute;
  bottom: 70px;
  right: 70px;
  white-space: nowrap; 
  color: transparent;
  font-weight: 200;
  width: 800px;
  height: 60px;
  font-size: 60px;
  padding: 50px;
}

.cover_right::before {
  content: "새로운 시각으로 아이디어를 창조하다.";
  position: absolute;
  left: 0;
  width: 100%;
  color: black;
  overflow: hidden;
  border-right: 1px solid black;
  animation: typing 5s steps(31) infinite;
}

@keyframes typing{
  0% {
    width: 0%;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

/*----- 02. INFOMATION -----*/
.info_contents{
  background: linear-gradient(150deg, #6f317c, #d53931, rgba(209, 44, 187, 1));
  width: 100%;
  height: 100vh;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_title{
  width: 50%;
  height: 80vh;
  border-right: 2px solid #f5f5f5;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; 
  padding: 0 7vh;
}

@keyframes slideRight {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}

.info_title.animate {
  animation: slideRight 2s ease-in-out;
  opacity: 1;
}

.info_title p{
  padding-top: 5vh;
  font-size: 8vh;
  font-weight: 600;
}

.info_title .info_top p{
  padding-top: 14vh;
  font-size: 4vh;
  line-height: 1.5;
  font-weight: 300;
  margin: 1vh 0;
}

.info_center{
  width: 50%;
  height: 80vh;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; 
}

@keyframes slideLeft {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

.info_center.animate {
  animation: slideLeft 2s ease-in-out;
  opacity: 1;
}

.info_bottom{
  padding: 7vh 7vh;
  font-family: 'GmarketSansMedium';
}
.info_bottom p{
  font-size: 6vh;
  font-weight: 600;
  margin-bottom: 6vh;
}
.info_bottom div{
  padding: 0.6vh;
  font-size: 3.2vh;
  margin: 1vh 0;
}
.info_bottom div:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
.info_bottom span{
  font-size: 5vh;
  font-weight: 600;
}
.info_bottom em{
  font-size: 1.6vh;
  font-style: normal;
  color: #ddd;
  padding-left: 1vh;
}

/*----- 03. ABOUT -----*/

.about_contents{
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  padding-bottom: 60px;
}
.about_center{
  padding: 0 70px;
  display: flex;
  gap: 20vh;
  width: 100%;
  height: 60%;
  font-size: 1.6vh;
}

.about_title{
  padding: 0 70px;
  padding-bottom: 30px;
}
.about_left{
  opacity: 0;
}
.about_left img{
  width: 60vh;
  height: auto;
  border-radius: 50vh;
}
.about_left.animate2 {
  animation: slideRight 2s ease-in-out;
  opacity: 1;
}

.about_right{
  width: 100vh;
  padding-top: 3vh;
  color: #29212b;
  opacity: 0;
}
.about_right.animate2 {
  animation: slideLeft 2s ease-in-out;
  opacity: 1;
}

.about_right h3{
  font-weight: 500;
  color: #6d384cb9;
  padding-bottom: 2vh;
}
.about_right_top{
  display: flex;
  gap: 4vh;
  margin: 4vh 0;
}
.about_right_bottom{
  display: flex;
  gap: 2vh;
}

.about_tl{
  width: 20vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4vh;
  border-radius: 20px;
}
.about_tl p{
  margin: 6px 0;
}
.about_tl b{
  font-size: 2vh;
}

.about_tr{
  width: 48vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4vh;
  border-radius: 20px;
}
.about_ex span{
  color: #666;
}
.about_ex{
  margin-bottom: 6px;
}

.about_bl{
  width: 30vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4vh;
  border-radius: 20px;
}

.about_skill {
  display: flex;
  align-items: center; 
  gap: 10px;
}


.about_skill div {
  flex: 1;
}

.skill {
  height: 10px;
  background-color: #f3cef8;
  border-radius: 5px;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
}

.bar1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #cf8ad8;
  width: 95%;
  border-radius: 5px;
}


.bar2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #cf8ad8;
  width: 90%;
  border-radius: 5px;
}

.bar3:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #cf8ad8;
  width: 90%;
  border-radius: 5px;
}

.bar4:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #cf8ad8;
  width: 70%;
  border-radius: 5px;
}

.bar5:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #cf8ad8;
  width: 70%;
  border-radius: 5px;
}

.about_skill span {
  flex-shrink: 0;
  margin-left: 10px;
}


.about_br{
    width: 38vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4vh;
  border-radius: 20px;
}
.about_br_edu{
  display: flex;
  gap: 2vh;
}
.about_edu_sub{
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}
.about_edu_sub span:nth-child(2){
  color: #666;
}




/*----- 04. Web Design -----*/

.design_contents{
  width: 100%;
  height: auto;
  padding-bottom: 6vh;
}
.design_center{
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 60%;
}

.design_title{
  padding: 0 70px;
}

h1{
  padding-top: 80px;
  font-size: 8vh;
  font-weight: 600;
}

/* tab_menu */

.tab_menu{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 4vh;
  font-weight: 400;
  gap: 80px;
}
.tab_menu li{
  position: relative;
  cursor: pointer;
  color: #888;
}
.tab_menu li.active{color: #000;}
.tab_menu li span{
  position: absolute;
  font-size: 30px;
}

/* 기본적으로 모든 탭 콘텐츠 숨기기 */
.tab_content {
  display: none; /* 기본적으로 모든 탭 콘텐츠 숨기기 */
}

/* active 클래스가 붙은 탭 콘텐츠는 보이게 설정 */
.tab_content.active {
  display: block;
}

/* card */

.tab_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.contents_list {
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  height: auto;
}


.page-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.page-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  display: flex;
  position: relative;
  width: 30vh;
  height: 30vh;
  background-color: #333;
  cursor: pointer;
  overflow: hidden;
}
.page-2 .card{
  display: none;
}

.card p {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  width: 100%;
  height: 16%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  font-size: 1.6vh;
  opacity: 0;
  transition: opacity 1s ease;
}

.card:hover p {
  opacity: 1;
}

.card img{
  width: 30vh;
  height: 30vh;
  object-fit: cover;
}

/* tab navi */
.tab2-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.tab2-btn {
  padding: 10px 20px;
  background-color: #6b5774;
  color: white;
  font-size: 1.6vh;
  border: none;
  cursor: pointer;
}

.tab2-btn:hover {
  background-color: #4b3d52;
}
.tab2-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* 앱 아이콘 */
.tool {
  position: absolute;
  top: 10px; 
  right: 10px;
  z-index: 10;
  opacity: 0;
  transition: opacity 1s ease;
}

.tool span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 8px;
}

.card:hover .tool{
  opacity: 1;
}
.tool .ps{background: url(../image/ps.png); background-size: cover;}
.tool .ai{background: url(../image/ai.png); background-size: cover;}
.tool .fig{background: url(../image/fig.png); background-size: cover;}
.tool .pc{background: url(../image/pc.png); background-size: cover;}

/* load more */

.load-more {
  display: block;
  background-color: rgb(173, 110, 185);
  color: #fff;
  border: none;
  padding: 14px;
  cursor: pointer;
  border-radius: 20px;
  margin: 20px auto;
  transition: 0.3s;
}
.load-more:hover{
  background-color: rgb(122, 79, 131);
}

/* POPUP BOX ---------------------*/

.modal-1, .modal-2 {/*검정배경*/
	display:none; 
	position:fixed; 
	left:0; 
	top:0;
	width:100%; 
	height:100vh; 
	background:rgba(0,0,0,0.7); 
  z-index: 9999;
	overflow-x:hidden;
	overflow-y:auto; 
}

.modalBox, .modalBox2{
	position: relative;
	width: 120vh;
  height: 100vh;
	margin: auto;
}

/*각 목록별 나오는 모달팝업 내용 나오는 부분*/
.modal-content, .modal-content2 {   /*팝업내용박스*/
	position:absolute;
	width:120vh;
	min-height: 100%;
	background-color:#fff;
  z-index: 9999;
}
.modal-content>li, .modal-content2>li {
  display: none;
  text-align: center;
  font-size: 3vh;
}
.modal-content img, .modal-content2 img {
  width: 100%;
  max-width: 1200px; /* 최대 크기 설정 */
}


/*버튼영역*/ 
.modal-btn1, .modal-btn2 {
  position:fixed;
  padding: 2vh;
  background-color: rgba(0,0,0,0.4);
  border-radius: 2vh;
	right: 10%;
  top: 3vh;
	width:8vh;
	height:16vh;
	color:#fff;
	text-align:center;
  overflow: visible;
	z-index:10000;
  display: none;
}
.modal-btn1, .modal-btn2 i{cursor: pointer;}
.close{
	padding-bottom: 10px;
}
.close i{
  background-color: #6b5774;
  padding: 5px;
  border-radius: 30px;
  font-size: 3vh;
  transition: 0.3s;
}
.lr-btn{
	display: flex;
	justify-content: center;
	margin-top: 1vh;

}
.lr-btn i{
  margin: 0 0.5vh;
  font-size: 3vh;
  background-color: #a88ab6;
  border-radius: 30px;
  transition: 0.3s;
}
.lr-btn i:hover{filter: brightness(120%);}
.close i:hover{filter: brightness(120%);}
.g_page{ 
  background-color: #6b5774;
  border-radius: 30px;
	font-size:1.4vh;
	color:#fff;
  margin-top: 1vh;
	width:8vh;
	height:5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.g_page span{padding: 0 0.5vh;}

/* fig_btn */
.fig_btn{
  font-size: 1.8vh;
  position:absolute;
  padding: 2vh;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  border: 2px solid #121212;
  border-radius: 2vh;
	right: -26vh;
	width:12vh;
	height:1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.fig_btn:hover{
  background-color: rgba(0,0,0,0.6);
  border: 1px solid #121212;
}
.fig-1{top: 25vh;}
.fig-2{top: 31vh;}
.fig-3{top: 37vh;}
.fig-4{top: 43vh;}




/*----- 05. Web Publishing -----*/
.pub_title{
  padding: 0 70px;
}
/* pub Menu */
.pub_inner{
  width: 100%;
  height: 100vh;
}
#pubmenu{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pub-header{
  display: flex;
  justify-content: center;
  width:100%;
  height:10vh;
  position:relative;
  margin-top: 5vh;
}
.pub{display: flex;}
.pub li{
  width:26vh; /*->jQuery에서 탭메뉴 움직이는 거리*/
  height:7vh;
  box-sizing:border-box;
  color:#121212;
  font-size:2vh;
  line-height:7vh;
  text-align:center;
  letter-spacing:1px; 
  z-index:100; 
  cursor: pointer; 
  margin: 0 1vh;
  border-radius: 2vh;
  border: 2px solid #f5f5f5;
  background-color: #f5f5f5;

}

.pub li strong{
  color: #ccc;
  font-size: 4vh;
  font-weight: 600;
  margin-right: 10px;
}
.pub li.active{
  position: relative;
  border: 2px solid #ccc;
} 
.pub li.active strong{
  color: #999;
} 
.pub li.active:after{
  content: '';
  width: 1vh;
  height: 1vh;
  position: absolute;
  top: 8vh;
  left: 50%;
  border-radius: 50%;
  background-color: #ccc;
}

/* pub Contents */

.pub-content{
  width: 100%;
}
.pub-content li{
  margin: 4vh;
  width:100%;
  height:100%;
  display:none; 
}
.pub-content li.active{display:block;}

#pub1, #pub2, #pub3{
  display: flex;
}

.pub-detail{
  animation: slideRight 2s ease-in-out;
}
@keyframes slideRight {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* 퍼플리싱 이미지 안 슬라이드 화면 */
.pub-img-1, .pub-img-2, .pub-img-3 {
  position: relative;
}
.pub-img-1 img, .pub-img-2 img, .pub-img-3 img {
  width: 56vh;
  height: 46vh;
  animation: slideleft 2s ease-in-out;
}
@keyframes slideleft {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideleft2 {
  0% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}
.pub-img-1::after, .pub-img-2::after, .pub-img-3::after{
  content: '';
  position: absolute;
  top: 3.5vh;
  left: 6vh;
  width: 44vh;
  height: 25.5vh;
  transition: 3s;
}

.pub-img-1:after{
  content: '';
  background: url(../image/long-1.png) top no-repeat;
  background-size: cover;
  animation: slideleft2 2s ease-in-out;
}
.pub-img-2:after{
  content: '';
  background: url(../image/long-2.png) top no-repeat;
  background-size: cover;
  animation: slideleft2 2s ease-in-out;
}
.pub-img-3:after{
  content: '';
  background: url(../image/long-3.png) top no-repeat;
  background-size: cover;
  animation: slideleft2 2s ease-in-out;
}


.pub-img-1:hover::after,.pub-img-2:hover:after,.pub-img-3:hover:after{
  background-position: bottom;
}

/* pub-detail */
h2{
  font-size: 5vh;
  font-weight: 500;
}
h3{
  font-size: 3vh;
  font-weight: 300;
  color: #333;
}

.pub_desc_center{
  font-size: 2vh;
}
.pub_desc_center_row{
  border-top: 2px solid #999;
  padding: 1vh 0;
}
.pub_desc_cel_top{
  display: flex;
  margin: 1vh 0;
}
.pub_desc_cel_top p{
  margin: 1vh 0;
  padding: 0 1vh;
  border-right: 2px solid #999;
}
.pub_desc_cel_top p:last-child {
  border-right: none;
}
.pub_desc_cel{
  display: flex;
  margin: 1vh 0;
}
.pub_desc_cel p{
  color: #333;
  margin: 0 1vh;
}


/* 사이트이동 버튼 */

.pub_desc_btn,
.mob_desc_btn{
  border-radius: 1vh;
  border: 1px solid #DDD;
  background: rgba(216, 186, 208, 0.5);
  transition: 0.3s;
  width: 15vh;
  display: flex;
  justify-content: center;
  padding: 1vh 1.6vh;
  gap: 1vh;
}
.pub_desc_btn span,
.mob_desc_btn span{
  font-size: 1.6vh;
  font-weight: 500;
}
.mobile-btn{
  display: flex;
  gap: 1vh;
}
.pub_desc_btn:hover,
.mob_desc_btn:hover{
  background: rgba(216, 186, 208, 0.9);
}

/*----- 06. Mobile -----*/

.mobile_inner{
  width: 100%;
  height: 100vh;
  background: url(../image/cover3.png) center no-repeat;
  background-size: cover;
  padding-bottom: 60px;

}
.mobile_title{
  padding: 0 70px;
}
/* swiper */
.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next, .swiper-button-prev{
  width: 8vh;
  height: 8vh;
  color: #121212;
  border-radius: 50%;
  margin: 0 5vh;
  background-color: rgba(255, 255, 255, 0.8);
}
/* mobile Contents */

.mobile-content li{
  width:100%;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* mobile-detail */
.mobile-detail{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-detail-title div{
  font-size: 1.6vh;
  font-weight: 300;
  margin: 6px 0;
}
.mobile-detail-title h2{
  margin-bottom: 10px;
}
.mobile-detail h3{
  font-size: 3vh;
  font-weight: 300;
  color: #ddd;
}

.mobile_desc_center{
  font-size: 2vh;
}

.mobile_desc_cel_top{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile_desc_cel_top p{
  margin: 1vh 0;
  padding: 0 1vh;
  border-right: 2px solid #ddd;
}
.mobile_desc_cel_top p:last-child {
  border-right: none;
}

.mobile_desc_center_row{
  margin-left: 4vh;
  padding: 1vh 0;
}
.mobile_desc_cel{
  display: flex;
  margin: 1vh 0;
}
.mobile_desc_cel p{
  color: #ddd;
  margin: 0 1vh;
}
.cel1{
  font-size: 1.5vh;
  margin: 3vh 1vh;
}

.mobile-content img{
  width: 80vh;
  height: auto;
  transition: 1s;
}
.mobile-content img:hover{
  scale: 1.1;
}



/*----- 07. Web Planning -----*/

.plan_inner{
  width: 100%;
  height: auto;
  background: radial-gradient(circle at 49% 1%,#6f317c, #d53931, rgba(209, 44, 187, 1));
  color: #fff;
  padding-bottom: 3vh;
}
.plan_title{
  padding: 0 70px;
}
.planSwiper {
  width: 100%;
  height: 100%;
}

.planSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.accordion .title{
  margin:  1vh 4vh;
  padding: 3vh;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.accordion .title:hover img{
  width: 14vh;
}
.accordion .title img{
  width: 0;
  height: 10vh;
  border-radius: 30vh;
  margin: 0 1vh;
  transition: 1s;
}
.accordion .title.active img{width: 14vh;}
.accordion .content {
  display: none;
  margin:  1vh 4vh;
  padding: 3vh;
}
.accordion .content.active{display: block;} 

/*----- footer -----*/
.end{
  width: 100%;
  height: 100vh;
  background: url(../image/cover7.png) center no-repeat;
  background-position: cover;
}
.end-top p{
  padding: 10vh 70px;
  font-size: 6vh;
  line-height: 1.5;
}

.end-top p em{
  font-style: normal;
  color: #963db1;
}
.end-top p strong{
  font-size: 7vh;
  color: #963db1;
}
.end-bottom{
  font-size: 3vh;
  margin-top: 46vh;
  padding-right: 4vh;
  text-align: right;
  line-height: 1.5;
  transition: 1s;
}
.end-bottom:hover{
  margin-top: 40vh;
  padding-right: 5vh;
  color: #963db1;
  font-size: 4vh;
  font-weight: 500;
}